@page "/"

<div class="mt-4 p-5 bg-primary text-white rounded">
   
    <h1>Hi There !</h1>
    <p class="lead">Welcome to Semantic Kernel Demo a.k.a Magic Pocket - This is all-in-tool that you need for daily tasks, powered by Open AI</p>
    <a class="btn btn-lg btn-primary" href="/qna" role="button">Get Started »</a>
    <div class="text-center mt-2">
        <img src="img/Logo.jpg" class="rounded img-logo" alt="...">
    </div>
</div>

<h1></h1>



