@inherits LayoutComponentBase

<div class="bb-page">

    <Sidebar @ref="sidebar"
             IconName="IconName.Tools"
             Title="Magic Pocket"
             DataProvider="SidebarDataProvider" />

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-end">
            <a href="https://studios.gravicode.com/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <div class="py-2">
                <ErrorBoundary>
                    @Body
                </ErrorBoundary>

            </div>
        </article>
    </main>

</div>

@code {
    private Sidebar sidebar = default!;
    private IEnumerable<NavItem> navItems = default!;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
        {
            new NavItem { Id = "1", Href = "/", IconName = IconName.HouseDoorFill, Text = "Home", Match=NavLinkMatch.All},
            new NavItem { Id = "2", Href = "/setting", IconName = IconName.PlusSquareFill, Text = "Settings"},
            new NavItem { Id = "3", Href = "/summarize", IconName = IconName.Table, Text = "Summarize"},
            new NavItem { Id = "4", Href = "/ArtisticImage", IconName = IconName.Image, Text = "ArtisticImage"},
            new NavItem { Id = "5", Href = "/qna", IconName = IconName.Chat, Text = "QnA"},
            new NavItem { Id = "6", Href = "/sentiment", IconName = IconName.Plus, Text = "Sentiment"},
            new NavItem { Id = "7", Href = "/translate-program", IconName = IconName.Code, Text = "Translate Program"},
            new NavItem { Id = "8", Href = "/translator", IconName = IconName.Book, Text = "Translator"},
            new NavItem { Id = "9", Href = "/grammar-correction", IconName = IconName.Check, Text = "Grammar Correction"},
            new NavItem { Id = "10", Href = "/quiz-creator", IconName = IconName.QuestionCircle, Text = "Quiz Creator"},
            new NavItem { Id = "11", Href = "/code-explainer", IconName = IconName.FileCode, Text = "Code Explainer"},
            new NavItem { Id = "12", Href = "/extract-keyword", IconName = IconName.CursorText, Text = "Extract Keyword"},
            new NavItem { Id = "13", Href = "/data-generator", IconName = IconName.FileExcelFill, Text = "Data Generator"},
            new NavItem { Id = "14", Href = "/extract-address", IconName = IconName.Building, Text = "Extract Address"},
            new NavItem { Id = "15", Href = "/Product-Name-Logo", IconName = IconName.Shop, Text = "Product Name and Logo"},
            new NavItem { Id = "16", Href = "/CSharp-Comment", IconName = IconName.Gear, Text = "C# Comment Generator"},
            new NavItem { Id = "17", Href = "/Sql-Generator", IconName = IconName.FileTypeSql, Text = "SQL Generator"},
            new NavItem { Id = "18", Href = "/Query-Explainer", IconName = IconName.ZoomIn, Text = "Query Explainer"},
            new NavItem { Id = "19", Href = "/Meeting-Notes", IconName = IconName.Bookmark, Text = "Meeting Notes"},
            new NavItem { Id = "20", Href = "/Bug-Fix", IconName = IconName.Bug, Text = "Bug Fix"},
            new NavItem { Id = "21", Href = "/Writer-Helper", IconName = IconName.Pen, Text = "Writer Helper"},
            new NavItem { Id = "22", Href = "/Recipe", IconName = IconName.Pen, Text = "Recipe Generator"},
            new NavItem { Id = "23", Href = "/QAUrl", IconName = IconName.BrowserChrome, Text = "QA from Url"},
            new NavItem { Id = "24", Href = "/Review-Writer", IconName = IconName.Pencil, Text = "Review Writer"},
            new NavItem { Id = "25", Href = "/Idea-Generator", IconName = IconName.Lightbulb, Text = "Idea Generator"},
            new NavItem { Id = "26", Href = "/Interview", IconName = IconName.Question, Text = "Interview Helper"},
            new NavItem { Id = "27", Href = "/Complexity", IconName = IconName.GraphUp, Text = "Code Complexity"},
            new NavItem { Id = "28", Href = "/Tabularize", IconName = IconName.Table, Text = "Tabularize Data"},
            new NavItem { Id = "29", Href = "/Image-Generator", IconName = IconName.Images, Text = "Image Generator"},
            new NavItem { Id = "30", Href = "/Image-Variation", IconName = IconName.PaintBucket, Text = "Image Variations"},
            new NavItem { Id = "31", Href = "/Image-Edit", IconName = IconName.Brush, Text = "Image Edit"},
            new NavItem { Id = "32", Href = "/Audio-Transcript", IconName = IconName.Speaker, Text = "Audio Transcript"},
            new NavItem { Id = "33", Href = "/Audio-Translation", IconName = IconName.Mic, Text = "Audio Translation"},
            new NavItem { Id = "34", Href = "/Edit-Text", IconName = IconName.Pencil, Text = "Edit Text"},
            new NavItem { Id = "35", Href = "/Embedding", IconName = IconName.FileCode, Text = "Embedding Text"},
            new NavItem { Id = "36", Href = "/Tokenizer", IconName = IconName.Cpu, Text = "Tokenizer Text"},
        };

        return navItems;
    }
}