@inherits LayoutComponentBase

<div class="bb-page">

    <Sidebar @ref="sidebar"
             IconName="IconName.BootstrapFill"
             Title="SK-Demo"
             DataProvider="SidebarDataProvider" />

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-end">
            <a href="https://studios.gravicode.com/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <div class="py-2">
                @Body
            </div>
        </article>
    </main>

</div>

@code {
    private Sidebar sidebar = default!;
    private IEnumerable<NavItem> navItems = default!;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
        {
            new NavItem { Id = "1", Href = "/", IconName = IconName.HouseDoorFill, Text = "Home", Match=NavLinkMatch.All},
            new NavItem { Id = "2", Href = "/setting", IconName = IconName.PlusSquareFill, Text = "Settings"},
            new NavItem { Id = "3", Href = "/summarize", IconName = IconName.Table, Text = "Summarize"},
            new NavItem { Id = "4", Href = "/ArtisticImage", IconName = IconName.Image, Text = "ArtisticImage"},
            new NavItem { Id = "5", Href = "/qna", IconName = IconName.Chat, Text = "QnA"},
            new NavItem { Id = "6", Href = "/sentiment", IconName = IconName.Plus, Text = "Sentiment"},
            new NavItem { Id = "7", Href = "/translate-program", IconName = IconName.Code, Text = "Translate Program"},
            new NavItem { Id = "8", Href = "/translator", IconName = IconName.Book, Text = "Translator"},
            new NavItem { Id = "9", Href = "/grammar-correction", IconName = IconName.Check, Text = "Grammar Correction"},
            new NavItem { Id = "10", Href = "/quiz-creator", IconName = IconName.QuestionCircle, Text = "Quiz Creator"},
            new NavItem { Id = "11", Href = "/code-explainer", IconName = IconName.FileCode, Text = "Code Explainer"},
            new NavItem { Id = "12", Href = "/extract-keyword", IconName = IconName.CursorText, Text = "Extract Keyword"},
            new NavItem { Id = "13", Href = "/data-generator", IconName = IconName.FileExcelFill, Text = "Data Generator"},
            new NavItem { Id = "14", Href = "/extract-address", IconName = IconName.Building, Text = "Extract Address"},
            new NavItem { Id = "15", Href = "/Product-Name-Logo", IconName = IconName.Shop, Text = "Product Name and Logo"},
            new NavItem { Id = "16", Href = "/CSharp-Comment", IconName = IconName.Gear, Text = "C# Comment Generator"},
            new NavItem { Id = "17", Href = "/Sql-Generator", IconName = IconName.FileTypeSql, Text = "SQL Generator"},
            new NavItem { Id = "18", Href = "/Query-Explainer", IconName = IconName.ZoomIn, Text = "Query Explainer"},
            new NavItem { Id = "19", Href = "/Meeting-Notes", IconName = IconName.Bookmark, Text = "Meeting Notes"},
        };

        return navItems;
    }
}